{{#if shortUrl}}

<div class="short-url text-center mt-5 mb-3">
  <h3>Success!Please use this link:</h3>
  <a href={{shortUrl}} id="inputURL" class="link-secondary">{{shortUrl}}</a>
</div>
<div class="text-center"> 
  <button class="btn btn-light" onclick="copyShortURL()"><i class="far fa-copy"></i>
  </button>
  <button class="btn btn-light" onclick="history.back()"><i class="fas fa-long-arrow-alt-left"></i></button>
</div>


{{else}}

<form action="/" method="POST" class="text-center mt-3">
  <div class="container mt-5 mb-3">
    <input type="url" name="url" placeholder="Input URL here" minlength="12" style="width: 60%;" required>
  </div>
  <button class="btn btn-light" type="submit">Shorten</button>
</form>

{{/if}}


<script src="/javascripts/copy.js"></script>